<div class="flex flex-wrap justify-center align-middle h-full w-full items-center">
  <div class="h-auto">
    <mat-card>
      <mat-card-header class="text-white mb-4">Login</mat-card-header>
      <mat-card-content>
        <div class="tg-my-4">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" value="">
          </mat-form-field>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <div class="w-full">
          <span><a class="text-white underline" href="/register">Register</a></span>

          <button mat-raised-button color="accent" class="float-right">Login</button>
        </div>

      </mat-card-actions>
    </mat-card>
  </div>
</div>

