mat-sidenav-content {
    /*padding: 0;*/
    padding: 1rem 2rem 1rem 2rem;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    background-color: #e5e7eb;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.textStandard {
    font-size: 18px;
    font-style: normal;
    font: menu;
    padding-top: 2rem;
}

.icon-template {
    fill: #414141;
}

@media (max-width: 639px) {
    mat-sidenav {
        width: 100%;
    }
}

.ribbon {
    max-width: 350px;
}

.active {
   background-color: grey;
}

.menuWidth {
    min-width: 275px;
}

.darkBackground {
    background-color: #9f9f9f;
}
